<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub" />
        <link rel="apple-touch-icon" sizes="57x57" href="https://github.com/apple-touch-icon-114.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="https://github.com/apple-touch-icon-114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="https://github.com/apple-touch-icon-144.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="https://github.com/apple-touch-icon-144.png" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">首页</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                GitHub地址<br />
                邮件<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <img height="20" src="https://1.gravatar.com/avatar/3a5ca7fb985510114c64dc0e2af8e847?d=https%3A%2F%2Fa248.e.akamai.net%2Fassets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png&amp;r=x&amp;s=140" width="20"><a href="https://github.com/esfak47">github.com/esfak47</a><br />
                <img style="-webkit-user-select: none" src="https://res.wx.qq.com/zh_CN/htmledition/images/favicon17ced3.ico"><a href="mailto:esfak47@gmail.com">联系我</a><br />
              </p>name
            </div>
          </div>
        </div>

    </body>
</html>
